{% extends 'base.html.twig' %}

{% block title %}{{ entityShortClass }} - Admin{% endblock %}

{% block body %}
    <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-6">{{ entityShortClass }}</h1>

    <twig:K:Admin:EntityList
        entityClass="{{ entityClass }}"
        entityShortClass="{{ entityShortClass }}"
    />
{% endblock %}
